fastapi==0.135.2
uvicorn[standard]==0.42.0
python-multipart==0.0.22
sqlmodel==0.0.37
cryptography==46.0.6
python-jose[cryptography]==3.5.0
argon2-cffi==25.1.0
smbprotocol==1.16.0
pydantic==2.12.5
pydantic-settings==2.13.1
python-magic==0.4.27
aiofiles==25.1.0
pyvips==3.1.1
