{{/* Purpose: Renders the shared chevron icon with optional rotation for menus. */}}
{{- $baseClass := "size-[1em] inline-block align-[-0.125em]" -}}
{{- $class := .class | default $baseClass -}}
{{- if .rotate -}}
  {{- $class = printf "%s rotate-%v" $class .rotate -}}
{{- end -}}
<svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="{{ $class }}">
  <path
    fill-rule="evenodd"
    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
    clip-rule="evenodd" />
</svg>
