{{/* Purpose: Renders the Material Symbols icon used by each homepage feature group heading. */}}
{{- $id := .id -}}
{{- $class := .class | default "" -}}
{{- if eq $id "access" -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">folder_open</span>
{{- else if eq $id "navigate" -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">explore</span>
{{- else if eq $id "preview" -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">visibility</span>
{{- else if eq $id "markdown" -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">article</span>
{{- else if eq $id "file_management" -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">folder_managed</span>
{{- else if eq $id "desktop_app_editing" -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">edit_document</span>
{{- else if eq $id "ui_themes" -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">palette</span>
{{- else if eq $id "speed_and_efficiency" -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">speed</span>
{{- else -}}
<span class="material-symbols-outlined home-feature-symbol {{ $class }}" aria-hidden="true">arrow_right_alt</span>
{{- end -}}
